@media (min-width: 768px) and (max-width: 992px) {
	.nav a {
	display: inline-block;
	list-style: none;
	display: inline-block;
	padding: 3%;
	transition: all 0.5s ease;
	}
	.nav a:hover {
	display: inline-block;
	list-style: none;
	display: inline-block;
	padding: 3%;
	background-color: #E7E7E7;
	transition: all 0.5s ease;
	}
	.large {
	font-size:26px;
	text-transform: uppercase;
	color: white;
	}
	.button a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
	background-color: #337AB7;
	border-radius: 15px;
	padding: 2%;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.7s ease;
	}
	.button a:hover {
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: #337AB7;
	background-color: white;
	border-radius: 15px;
	padding: 2%;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.7s ease;
	}
	.button-2 a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
	background-color: #337AB7;
	border-radius: 15px;
	padding: 2%;
	width: 20%;
	margin-right: auto;
	transition: all 0.7s ease;
	}
.button-2 a:hover {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: #337AB7;
	background-color: white;
	border-radius: 15px;
	padding: 2%;
	width: 20%;
	margin-right: auto;
	transition: all 0.7s ease;
	}
}

@media (max-width: 767px) {
	.nav ul {
		display:none;
	}
	.logo {
		float: left;
		margin-left: 3%;
	}
	.button-xs {
		display: block;
		float: right;
		margin-right: 3%;
		font-size: 30px;
		color: #7E8182;
		margin-top: 3%;
	}
	.large {
	font-size:24px;
	text-transform: uppercase;
	color: white;
	}
	.button a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
	background-color: #337AB7;
	border-radius: 15px;
	padding: 2%;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.7s ease;
	}
	.button-2 a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
	background-color: #337AB7;
	border-radius: 15px;
	padding: 2%;
	width: 35%;
	margin-right: auto;
	transition: all 0.7s ease;
	}
}